.flexContainer {
  display: flex;

  &--column-reverse {
    flex-direction: column-reverse;
  }

  &--column {
    flex-direction: column;
  }

  &--row-portrait {
    @include for-size("tablet-portrait-up"){
      flex-direction: row;
    }
  }

  &--slider{
    & > div {
      min-width: 25rem;
    }
  }

  &__box {
    flex: 1;
  }

  &__box-2 {
    flex: 2;
  }
}
