.gridSystem {
  display: grid;

  grid-template-columns: 1fr;

  &--header {
    row-gap: 10rem;

    @include for-size('tablet-landscape-up') {
      grid-template-columns: 65rem 45rem;

      row-gap: unset;
    }
  }

  &--autoColumns {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
