.industrias {

    &__box {
        width: 23rem;
        

        &--2 {
            margin-left: 10rem;
            margin-top: 20rem;
        }

        &--3 {
            margin-left: 10rem;
            margin-bottom: 15rem;
        }
    }
}