$animationSpeed: 60s;

// Animation
@keyframes scroll {
	0% { transform:translateX(100%);  }
	100% { transform:translateX(-500%);  }
}

// Styling
.slider {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    // width: calc(250px * 14);

    animation: scroll $animationSpeed linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }
}
