$animationSpeed: 20s;

// Animation
@keyframes esliando {
	0% { transform:translateX(100%);  }
	100% { transform:translateX(-300%);  }
}

// Styling
.esliador {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .esliador-track {
    // width: calc(250px * 14);

    animation: esliando $animationSpeed linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }
}
