.title {
  position: relative;

  &::after {
    content: '';

    background: $cBlueDark;

    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 4rem;
    height: .3rem;

    border-radius: 2rem;
  }

  &--small-mrg {
    &::after {
      top: unset;
      bottom:-1.5rem;
    }
  }

  &--black {
    &::after {
      background: $cBlack;
    }
  }

  &--white {
    &::after {
      background: $cWhite;
    }
  }
}
