$cMain: #506fc5;

$cBlue: #72a3fe;

$cBlueLight: #6283E0;

$cBlueDark: #385499;

$cBlack: #20212f;

$cPrimaryDynamic: #f1af4d;

$cSecondaryDynamic: #3d1891;

$cSecondaryElements: #6bd0d0;

$cPurple: #b96df4;

$cWhite: #fff;

$cGray: #828282;

$cIcons: #c3d6f9;

$cContrast: #ffbf8d;

$cNeutral: #f2f6fa;

$cGray: #cbd6e2;

$cGrayLight: #ccc;

$cRed: #f2545b;

// font
$sm-size: 1.2rem;

$smaller-size: 1.4rem;

$small-size: 1.6rem;

$medium-size: 1.8rem;

$medium-big-size: 2.2rem;

$medium-bigger-size: 3.2rem;

$big-size: 6.4rem;
